body {
	height: 100vh;
	margin: 0;
	padding: 0;
	background: linear-gradient(120deg, #1a1a1a 75%, #e01533 25%);
	font-family: 'Roboto Condensed', sans-serif;
}


/*====================navigation======================*/
.navigation {
	z-index: 20;
	width: 100%;
	top: 3%;
	position: absolute;
	display: flex;
	align-items: center;
}

.logo {
	width: 5%;
	display: flex;
	align-items: center;
}

.logotype {
	max-width: 80px;
	margin-left: 70%;
}

.nav-menu {
	width: 38%;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	width: 130%;
}

.nav-item {
	margin: 15px;
}

.nav-link {
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	border-bottom: 2px solid transparent;
	transition: .3s;
	font-weight: bold;
}

.nav-link:hover {
	border-bottom: 2px solid #e01533;
	color: #e01533;
}




/*=====================main-information===============*/
.main-information {
	position: absolute;
	top: 20%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60%;
	width: 70%;
}

.text-inform h1 {
	color: #ffffff;
	font-size: 70px;
	margin: 0;
	padding: 0;
	animation: text 3s 1;
}



.text-inform strong {
	color: #e01533;
}

.photo {
	max-width:300px;

}

.inform-link {
	display: flex;
	text-align:center;
	position: fixed;
	left: 12%;
	text-decoration: none;
}


.inform-btn {
	border: 2px solid #e01533;
	border-radius: 20px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	padding: 3px 15px;
	transition: .3s;
	margin-top: 20px;
}

.link {
	text-decoration: none;
}
.inform-btn:first-child {
	margin-right: 10px;
}

.read {
	color: #e01533;
}

.read:hover {
	color: #fff;
	background: #e01533;
}




/*=====================clanlist===============*/

.clanlist {
	position: fixed;
	top: 15%;
	left: 0.5%;
	right: 2%;
	text-align: center;
}

h1 {
	color: #fff;
}

span {
	color: #e01533;
}


table{
	width:100%;
	table-layout: fixed;
}
.tbl-header{
	background-color: rgba(255,255,255,0.3);
}
.tbl-content{
	height:470px;
	overflow-x:auto;
	margin-top: 0px;
	border: 1px solid rgba(255,255,255,0.3);
	scrollbar-width: none;
}



th{
	padding: 20px 15px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto Condensed';
}
td{
	padding: 15px;
	text-align: center;
	vertical-align:middle;
	font-size: 14px;
	color: #fff;
	border-bottom: solid 1px rgba(255,255,255,0.1);
	font-family: 'Roboto Condensed';
}

.soc {
	width: 25px;
}

tr:hover {
	background: rgba(83, 83, 83, 0.33);
}

section{
	margin: 50px;
}


.biruza {
	color: #03cbad;
}
.zelen {
	color: #0d9004;
}

.fiolet {
	color: blueviolet;
}

.jeltok {
	color: brown;
}


/*=====================joinus===============*/

.joinus {
	position:fixed;
	top:20%;
	color: white;
	font-family: "Roboto Condensed";
	left:10%;
}

.chief {
	max-width: 600px;
	position:fixed;
	top:23%;
	left:44%;
}

.text-box {
	margin-left: 11vw;
	margin-top: 52vh;
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 100px;
	transition: all .2s;
	position: absolute;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
	background-color: #fff;
	color: #e01533;
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}

.btn-white::after {
	background-color: #fff;
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn-animated {
	animation: moveInBottom 5s ease-out;
	animation-fill-mode: backwards;
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

/*=====================about===============*/

.about {
	position:fixed;
	top:16%;
	color: white;
	font-family: "Roboto Condensed";
	left:10%;
	width: 800px;
	text-align: justify;
}

.center {
	text-align: center;
}

.aboutimg {
	position:fixed;
	top: 30%;
	right: 10px;
}

/*=====================achiv===============*/

.achiv {
	position:fixed;
	top:16%;
	color: white;
	font-family: "Roboto Condensed";
	left:10%;
	width: 800px;
	text-align: justify;
}


@keyframes text {
	0%{
		margin-bottom: 40px;
	}
}